    @font-face {
        font-family: 'Fixedsys Excelsior';
        font-style: normal;
        font-weight: normal;
        src: local('Fixedsys Excelsior'), url('fonts/FSEX300.woff') format('woff');
    }